.cart {
    width: 100%;
    max-width: 330px;
    background-color: rgb(215, 119, 119);
    color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 100px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    /*transform: translate(110%,0);*/
}

.cart-contents {
    flex-grow: 1;
    overflow: auto;
}

.cart-contents .cart-item:last-child {
    border-bottom: none;
}

.cart-resume{
    font-size: 1.2rem;
    font-weight: 200;
    padding: 35px 0 15px;
    border-top: 1px solid #ddd;
}

