@import url("../../styles/GlobalStyles.css");

.cart {
    width: 100%;
    max-width: 330px;
    background-color: var(--color4) ;
    color: var(--color2);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 100px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transform: translate(110%,0);
    transition: all 400ms ease;
    overflow-y: auto;
}

.cart-contents {
    flex-grow: 1;
    overflow-y: auto;
}

.clean-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    color: red;
    gap: 10px;
    font-size: 15px;
    font-weight: 200;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
}

.clean-cart button{
    background-color: transparent;
    border: none;
    color: var(--color2);
    font-size: 15px;
    font-weight: 200;
}

.clean-cart button:hover{
    background-color: var(--color2);
    cursor: pointer;
    color: var(--color5);
    transform: scale(1.1);
}
.clean-cart:hover{
    background-color: var(--color2);
    cursor: pointer;
    transform: scale(0.9);
}

.cart-contents .cart-item:last-child {
    border-bottom: none;
}

.cart-resume{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 200;
    padding: 35px 0 15px;
    border-top: 1px solid #ddd;
}

.cart-resume h3{
    font-size: 26px;
    font-weight: 600;
}

.cart-resume h4{
    font-weight: 800;
    font-size: 26px;
}

.cart-resume-title{
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 10px;
}

.cart-resume-title:hover{
    background-color: var(--color3);
    scale: 1.1;
    cursor: pointer;
}

.cart--active {
    transform: translate(0,0);
}