.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282c2e;
    padding: 10px 40px;
    color: white;
}

.logo p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.cart-icon i {
    font-size: 24px;
    color: white;
}