.container-header{
    background-color: var(--color2);
    position: fixed;
    width: 100%;
    height: 15vh;
    z-index: 2;
    justify-content: space-between;
    padding: 25px;
    margin-bottom: 25px;
}
.header-search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 15px;
}

.header-categoria{
    font-size: 28px;
    border: none;
    background-color: transparent;
    color: #fefefe;
    cursor: pointer;
}

.header-categoria--active{
    transform: rotate(90deg);
    transition: transform 0.5s;
}


.user-boneco{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    padding-top: 12px;
    position: relative;
}

.signin-buttom-link{
    color: rgb(91, 148, 255);
    font-weight: 400;
}

