.footer{
    background-color: var(--color2);
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: relative;
    width: 100%;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}