.cart-item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
}

.cart-item-image {
    width: 70px;
}

.cart-item-title {
    font-size: 0.85rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 8px;
}

.cart-item-qtd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.cart-item-price {
    font-size: 25px;
    font-weight: 500;
}

.cart-button-qtd-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

.cart-button-qtd-container button {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 30px;
    border: none;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

.cart-button-qtd-container button :active {
    transform: scale(0.9);
    color: var(--color3);
}

.cart-item-content {
    padding: 0 35px 0 10px;
}

.button__remove-item {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color1);
    background-color: transparent;
    font-size: 1.2rem;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.card__quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: var(--color1);
    border-radius: 10px;
    text-align: center;
    text-decoration: double;
    background-color: var(--color5);
}

.card__quantity input {
    width: 100%;
    text-align: center;
    margin: 0;
    border: none;
    background-color: var(--color5);
    color: var(--color1);
    font-size: 15px;
    font-weight: 500;
}

.button__remove-item:hover {
    color: var(--color3);
}